@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
.vue-container-title {
  margin-bottom: 20px;
  margin: 20px auto;
  text-align: center; }
  .vue-container-title .title {
    color: black;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    transition: all .5s ease-in-out;
    text-transform: capitalize;
    margin: unset; }
    @media screen and (max-width: 736px) {
      .vue-container-title .title {
        font-size: 30px; } }

.vue-puzzle__container {
  height: 301px;
  width: 301px;
  outline: solid 1px black;
  position: relative;
  margin: auto; }
  .vue-puzzle__container.goal {
    height: 151px;
    width: 151px; }
    .vue-puzzle__container.goal .vue-puzzle__bg-image {
      background-size: auto 151px; }
      .vue-puzzle__container.goal .vue-puzzle__bg-image.top100 {
        top: 50px; }
      .vue-puzzle__container.goal .vue-puzzle__bg-image.top200 {
        top: 100px; }
      .vue-puzzle__container.goal .vue-puzzle__bg-image.left100 {
        left: 50px; }
      .vue-puzzle__container.goal .vue-puzzle__bg-image.left200 {
        left: 100px; }
    .vue-puzzle__container.goal .vue-puzzle__tiles {
      height: 50px;
      width: 50px; }
  .vue-puzzle__container.vue-puzzle__container--image-uno .vue-puzzle__bg-image {
    background-image: url("../img/me_background.jpg"); }
  .vue-puzzle__container.vue-puzzle__container--image-due .vue-puzzle__bg-image {
    background-image: url("../img/rain_background.jpg"); }
  .vue-puzzle__container.vue-puzzle__container--image-tre .vue-puzzle__bg-image {
    background-image: url("../img/umbrella_background.jpg"); }
  .vue-puzzle__container.vue-puzzle__container--image-quattro .vue-puzzle__bg-image {
    background-image: url("../img/octopus_background.jpg"); }
  .vue-puzzle__container.vue-puzzle__container--image-cinque .vue-puzzle__bg-image {
    background-image: url("../img/storm_background.jpg"); }
  .vue-puzzle__container.vue-puzzle__container--image-sei .vue-puzzle__bg-image {
    background-image: url("../img/redmoon_background.jpg"); }

.vue-container-puzzles {
  display: flex;
  max-width: 1024px;
  margin: auto; }
  @media screen and (max-width: 736px) {
    .vue-container-puzzles {
      display: block; } }
  .vue-container-puzzles__goal {
    width: 300px;
    height: 350px;
    margin: auto; }
    .vue-container-puzzles__goal .title-goal {
      text-align: center;
      color: black;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 5px;
      transition: all .5s ease-in-out;
      text-transform: capitalize;
      margin: 10px auto; }
      @media screen and (max-width: 736px) {
        .vue-container-puzzles__goal .title-goal {
          margin: 20px auto 10px; } }

.vue-puzzle__tiles {
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid .5px white; }

.vue-puzzle__bg-image {
  background-repeat: no-repeat;
  background-size: auto 301px;
  transition: all .2s ease-in-out; }
  .vue-puzzle__bg-image.top0 {
    top: 0; }
  .vue-puzzle__bg-image.top100 {
    top: 100px; }
  .vue-puzzle__bg-image.top200 {
    top: 200px; }
  .vue-puzzle__bg-image.left0 {
    left: 0; }
  .vue-puzzle__bg-image.left100 {
    left: 100px; }
  .vue-puzzle__bg-image.left200 {
    left: 200px; }
  .vue-puzzle__bg-image.background-position1 {
    background-position: left top; }
  .vue-puzzle__bg-image.background-position2 {
    background-position: center top; }
  .vue-puzzle__bg-image.background-position3 {
    background-position: right top; }
  .vue-puzzle__bg-image.background-position4 {
    background-position: left center; }
  .vue-puzzle__bg-image.background-position5 {
    background-position: center center; }
  .vue-puzzle__bg-image.background-position6 {
    background-position: right center; }
  .vue-puzzle__bg-image.background-position7 {
    background-position: left bottom; }
  .vue-puzzle__bg-image.background-position8 {
    background-position: center bottom; }
  .vue-puzzle__bg-image.background-position9 {
    background-position: right bottom; }
  .vue-puzzle__bg-image.empty {
    background-image: none !important;
    border: solid .5px transparent; }

.vue-puzzle__button-shuffle {
  margin: 20px auto;
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between; }

.vue-puzzle__button-solution {
  margin: 20px auto;
  height: 40px;
  width: 300px; }
  .vue-puzzle__button-solution button {
    width: 100%; }

button {
  height: 40px;
  padding: 0 20px;
  background-color: dodgerblue;
  color: white;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:hover {
    background-color: #284dea; }

.vue-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .2s .5s ease-in-out;
  display: none; }
  .vue-overlay.x-active {
    display: block;
    opacity: 1;
    transition: all .2s .5s ease-in-out; }
  .vue-overlay.display-none {
    display: none;
    transition: all .2s .7s ease-in-out; }

.vue-alert-container {
  height: 200px;
  width: 300px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: all .2s .5s ease-in-out; }
  .vue-alert-container.x-active {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .2s .5s ease-in-out; }
  .vue-alert-container.display-none {
    display: none;
    transition: all .2s .7s ease-in-out; }
  .vue-alert-container .vue-alert-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; }
  .vue-alert-container .vue-alert-message {
    font-family: Montserrat, Arial, sans-serif; }
